.container {
  height: 100vh;
}

html, body {
  background-color: white;
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  background-color: cornflowerblue;
  min-height: 100%;
}

header {
  position: fixed;
  width: 98%;
  display: block;
  top: 0px;
  transition: top 0.3s;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  z-index: 1;
}

div {
  border-top: 0;
  border-bottom: 0;
  outline: none;
}

.foot {
  background-color: white;
  color: hsl(0, 0%, 25%);
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.designed-by {
  text-align: center;
  padding: 0.5rem;
}

.social-media ul {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-media li a {
  text-decoration: none;
  padding: 0;
}

.w-30 {
  width: 30%;
}

.m-3r {
  margin: 3rem 0;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.h-80 {
  height: 80px;
}

.h-300 {
  height: 300px;
}

.h-400 {
  height: 400px;
}

.bg-grey {
  background-color: grey;
}

.sections {
  padding: 20px 100px;
  display: flex;
}

.angle {
  position: relative;
}

.angle::after {
  content: "";
  position: absolute;
}

.polygon {
  background-color: hsl(164, 61%, 65%);
  height: 80px;
  width: 100%;
}

.polygon::after {
  height: 80px;
  width: 100%;
  background-color: cornflowerblue;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.section-two {
  padding: 1rem 100px;
  display: flex;
  flex-wrap: wrap;
  background: hsl(164, 61%, 65%);
}

.svg-developer {
  position: absolute;
  right: 0;
}

.nav_styledNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-styled ul {
  display: flex;
}

.logo img {
  width: auto;
  height: 60px;
}

ul {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: 1.2rem;
  list-style: none;
}

ul li {
  color: hsl(0, 0%, 25%);
  box-shadow: inset 0 0 0 0 cornflowerblue;
  font-weight: bold;
  padding: 10px 10px;
  margin: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-styled li:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 cornflowerblue;
  cursor: pointer;
}

.title-main {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

.title-main {
  display: flex;
}

.title-main span {
  width: 40px;
  font-size: 20px;
}

.title-main p {
  font-family: "Jenthill", sans-serif;
  background-color: white;
  margin: 0;
  padding: 5px;
  font-size: 2rem;
  color: cornflowerblue;
  transition-delay: 100ms;
  animation: 1s ease-out 0s 1 myNameIs;
  transform: rotate(-9deg);
}

.title-main h2 {
  color: hsl(0, 0%, 25%);
  font-size: clamp(40px, 8vw, 80px);
  transition-delay: 200ms;
  margin: 0;
  animation: 1s ease-out 0s 1 slideText;
}

.title-main h3 {
  color: lightgray;
  font-size: clamp(40px, 8vw, 60px);
  transition-delay: 300ms;
  margin: 0;
  animation: 1s ease-out 0s 1 slideText;
  -webkit-text-stroke-width: 1.5px;
}

.description-main {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  color: hsl(0, 0%, 25%);
  font-size: 20px;
  transition-delay: 300ms;
  width: 65%;
  text-align: justify;
  margin: 0;
  animation: 1s ease-out 0s 1 slideText;
  -webkit-text-stroke-width: 1.5px;
}

.button-abme {
  margin: 50px 0;
  text-align: left;
}

.button-dashboard {
  color: lightgray;
  background-color: cornflowerblue;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5rem 5rem;
  font-size: 22px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-stroke-width: 1.5px;
}

.sections .dashboard-hero {
  padding-top: 200px;
  margin: 0 27px;
}

@keyframes slideText {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes myNameIs {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: rotate(9deg);
  }
  100% {
    transform: translateY(0);
    transform: rotate(-9deg);
  }
}
.nav-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .logo img {
    width: auto;
    height: 40px;
  }
  .nav-styled {
    display: none;
  }
  .sections {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .section-two {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .sections .dashboard-hero {
    padding-top: 8rem;
    margin: 0;
  }
  .svg-developer {
    display: none;
  }
  .svg-developer-mobile {
    display: initial !important;
  }
  .description-main {
    width: 100%;
  }
  .w-30 {
    width: 100% !important;
    margin: 1rem 0 !important;
  }
  .w-70 {
    width: 100% !important;
    margin: 1rem 0 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .sections {
    padding: 0 35px;
  }
  .section-two {
    padding: 0 35px;
  }
  .sections .dashboard-hero {
    padding-top: 9rem;
    margin: 0 10px;
  }
  .svg-developer {
    display: none;
  }
  .svg-developer-mobile {
    display: initial !important;
    width: 300px !important;
    height: 645px !important;
    position: absolute;
    right: 0;
  }
}/*# sourceMappingURL=styles.css.map */