$body: cornflowerblue;
$green: #CDF27E;
$primary-title:hsl(0, 0%, 25%);
$descriptions:#8892b0;
$m-0: 0;

$font-sans:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$font-mono:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
$font-cursive:"Jenthill", sans-serif;

body {
    background-color: $body;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    padding: .5rem 2rem;
}
.sections {
    padding: 0 100px;
    display: flex;
}
.svg-developer{
    position: absolute;
    z-index: -1;
    right: 0;
}
.nav_styledNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-styled ul {
    display: flex;
}
.logo img {
    width: auto;
    height: 60px;
}
ul {
    font-family: $font-sans;
    font-size: 1.2rem;
    list-style: none;
}

ul li {
    color: $primary-title;
    font-weight: bold;
    padding: 0 20px;
}
.nav-styled li:hover {
    color: $green;
    cursor: pointer;
}
.title-main {
    font-family: $font-sans;
}
.title-main {
    display: flex;
}
.title-main span {
    width: 40px;
    font-size: 20px;
}
.title-main p {
    font-family: $font-cursive;
    background-color: white;
    margin: 0;
    padding: 5px;
    font-size: 2rem;
    color: $body;
    transition-delay: 100ms;
    animation: 1s ease-out 0s 1 myNameIs;
    transform: rotate(-9deg);
}
.title-main h2 {
    color: $primary-title;
    font-size: clamp(40px, 8vw, 80px);
    transition-delay: 200ms;
    margin: $m-0;
    animation: 1s ease-out 0s 1 slideText;
}
.title-main h3 {
    color: lightgray;
    font-size: clamp(40px, 8vw, 60px);
    transition-delay: 300ms;
    margin: $m-0;
    animation: 1s ease-out 0s 1 slideText;
    -webkit-text-stroke-width: 1.5px;
}
.description-main {
    font-family: $font-sans;
    color:$primary-title;
    font-size: 20px;
    transition-delay: 300ms;
    width: 65%;
    text-align: justify;
    margin: $m-0;
    animation: 1s ease-out 0s 1 slideText;
    -webkit-text-stroke-width: 1.5px;
}
.button-abme {
    margin: 50px 0;
    text-align: left;
}
.button-dashboard {
    color: lightgray;
    background-color:$body;
    border: 1px solid white;
    border-radius: 4px;
    padding: .5rem 5rem;
    font-size: 22px;
    font-family: $font-sans;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-stroke-width: 1.5px;
}
.sections .dashboard-hero {
    padding-top: 100px;
    margin: 0 27px;
}
@keyframes slideText{
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes myNameIs {
    0% {
        transform: translateY(-100%);
    }
    25% {
        transform: rotate(9deg);
    }
    100% {
        transform: translateY(0);
        transform: rotate(-9deg);
    }
    
}
.nav-mobile {display: none;}

@media only screen and (max-width: 600px) {
    .logo img {width: auto; height: 40px;}
    .nav-styled { display: none;}
    .sections {padding: 0 40px; display: flex; flex-direction: column;}
    .sections .dashboard-hero {padding-top: 40px; margin:0;}
    .svg-developer {
        display: none;
    }
    .svg-developer-mobile {
        display:initial !important;
    }
    // .nav-mobile {}
    .description-main {
        width: 100%;
    }
    .w-30 {
        width: 100% !important;
        margin: 1rem 0 !important;
    }
    .w-70 {
        width: 100% !important;
        margin: 1rem 0 !important;
    }
}
// Ipad pro tablet
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
// ipad & ipad mini
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .sections { padding: 0 35px; }
    .sections .dashboard-hero { padding-top: 50px; margin: 0 10px; }
    .svg-developer { display: none; }
    .svg-developer-mobile { 
        display: initial !important;
        width: 300px !important;
        height: 445px !important;
        position: absolute;
        z-index: -1;
        right: 0; }
}
// ipad air

// containers
.w-30 {
    width: 30%;
    margin: 0 .5rem;
}
.m-3r {
    margin: 3rem 0;
}
.w-70 {
    width: 70%;
    margin: 0 .5rem;
}
.h-300 {
    height: 300px;
}
// backgrounds 
.bg-grey {
background-color: grey;
}