$body: hsl(164, 61%, 65%);
$green: #CDF27E;
$primary-title:hsl(0, 0%, 25%);
$m-0: 0;

$font-sans:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$font-mono:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
$font-cursive:"Jenthill", sans-serif;

body {
    background-color: $body;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    padding: .5rem 2rem;
}
main {
    padding: 0 100px;
    display: flex;
}
.svg-developer{
    position: absolute;
    z-index: -1;
    right: 0;
}
.nav_styledNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-styled ul {
    display: flex;
}
.logo img {
    width: auto;
    height: 60px;
}
ul {
    font-family: $font-sans;
    font-size: 1.2rem;
    list-style: none;
}

ul li {
    color: $primary-title;
    font-weight: bold;
    padding: 0 20px;
}
.nav-styled li:hover {
    color: $green;
    cursor: pointer;
}
.title-main {
    font-family: $font-sans;
}
.title-main {
    display: flex;
}
.title-main span {
    width: 40px;
    font-size: 20px;
}
.title-main p {
    font-family: $font-cursive;
    background-color: white;
    margin: 0;
    font-size: 2rem;
    color: $body;
    transition-delay: 100ms;
    animation: 1s ease-out 0s 1 slideText;
}
.title-main h2 {
    color: $primary-title;
    font-size: clamp(40px, 8vw, 80px);
    transition-delay: 200ms;
    margin: $m-0;
    animation: 1s ease-out 0s 1 slideText;
}
.title-main h3 {
    color: $primary-title;
    font-size: clamp(40px, 8vw, 80px);
    transition-delay: 300ms;
    margin: $m-0;
    animation: 1s ease-out 0s 1 slideText;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $primary-title;
}
main section {
    padding-top: 100px;
    margin: 0 27px;
}
// @keyframes slideLogo {
//     0% {

//     }
// }
@keyframes slideText{
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}
@media only screen and (max-width: 600px) {
    .logo img {width: auto; height: 40px;}
    .nav-styled { display: none;}
    main{padding: 0 40px; display: flex; flex-direction: column;}
    main section {padding-top: 40px; margin:0;}
    .svg-developer {
        position: initial;
        z-index: initial;
        width: 335px !important;
        height: auto !important;
    }
}